@import 'box-sizing';

.header {
  display: flex;
  // flex-direction: row;

  background-color: red;
  height: 3rem;
  margin: 0 auto;
}

.top-nav {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 3rem;
  padding-left: 4rem;

  max-width: 90%;

  margin: 0;
}

.fa {
  margin-left: 50rem;
}
